:root {
  --solid-design-parts-Calendar_cell-width: 2.3em;
  --solid-design-parts-Calendar_cell-height: 2.3em;
  --solid-design-parts-Calendar_sunday-text-color: oklch(50% 0.6 5);
  --solid-design-parts-Calendar_saturday-text-color: oklch(50% 0.6 260);
}

.solid-design-parts-Calendar_root {
  width: max-content;
}

.solid-design-parts-Calendar_year-month-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.solid-design-parts-Calendar_month-move-button {
  &[aria-hidden='true'] {
    visibility: hidden;
  }
}

.solid-design-parts-Calendar_year-month {
  font-weight: bold;
  color: oklch(50% 0 0);
}

.solid-design-parts-Calendar_grid {
  display: grid;
  grid-template-columns: repeat(7, var(--solid-design-parts-Calendar_cell-width));
  grid-auto-rows: var(--solid-design-parts-Calendar_cell-height);
  width: max-content;
}

.solid-design-parts-Calendar_day-row,
.solid-design-parts-Calendar_date-row {
  display: contents;
}

.solid-design-parts-Calendar_cell {
  display: grid;
  place-items: center;

  .solid-design-parts-Calendar_day-row & {
    color: oklch(50% 0 0);

    &[data-day='0'] {
      color: var(--solid-design-parts-Calendar_sunday-text-color);
    }

    &[data-day='6'] {
      color: var(--solid-design-parts-Calendar_saturday-text-color);
    }
  }

  &.solid-design-parts-Calendar_other-month {
    color: oklch(60% 0 0);
  }
}
