:root {
  --solid-design-parts-Carousel_navigation-button-background-color: oklch(100% 0 0 / 70%);
  --solid-design-parts-Carousel_navigation-button-icon-color: oklch(30% 0 0);
}

.solid-design-parts-Carousel_root {
  position: relative;
}

.solid-design-parts-Carousel_navigation-button-layout {
  position: relative;
}

.solid-design-parts-Carousel_item-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--solid-design-parts-Carousel_item-width);
  gap: var(--solid-design-parts-Carousel_gap);

  overflow: auto hidden;
  scroll-snap-type: x mandatory;
  box-sizing: border-box;

  // Hide the browser's default scrollbar
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.solid-design-parts-Carousel_item {
  scroll-snap-align: center;

  box-sizing: border-box;
  overflow: hidden;

  // Note that only one child element is allowed
  & > * {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}

.solid-design-parts-Carousel_prev-button,
.solid-design-parts-Carousel_next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  .solid-design-parts-Carousel_root:not(.solid-design-parts-Carousel_overflowed) & {
    display: none;
  }

  .solid-design-parts-Carousel_hide-navigation-buttons & {
    display: none;
  }
}

.solid-design-parts-Carousel_prev-button {
  left: 0;
}

.solid-design-parts-Carousel_next-button {
  right: 0;
}

.solid-design-parts-Carousel_indicator-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;

  .solid-design-parts-Carousel_root[data-indicator-position='outside'] & {
    margin-top: 1em;
  }

  .solid-design-parts-Carousel_root[data-indicator-position='inside'] & {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
  }

  .solid-design-parts-Carousel_root:not(.solid-design-parts-Carousel_overflowed) & {
    display: none;
  }

  .solid-design-parts-Carousel_hide-indicators & {
    display: none;
  }
}

.solid-design-parts-Carousel_indicator {
  padding: 0.35em;
  // Reset the button style
  border: none;
  background-color: transparent;
  font-size: inherit;

  cursor: pointer;

  &:before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 0.5em;
    height: 0.5em;
    border-radius: 999vh;

    .solid-design-parts-Carousel_root[data-indicator-position='outside'] & {
      background-color: oklch(80% 0 0);
    }

    .solid-design-parts-Carousel_root[data-indicator-position='inside'] & {
      border: 1px solid oklch(100% 0 0 / 80%);
      background-color: oklch(0% 0 0 / 20%);
    }
  }

  @media (hover: hover) {
    &:hover::before {
      .solid-design-parts-Carousel_root[data-indicator-position='outside'] & {
        background-color: oklch(75% 0 0);
      }

      .solid-design-parts-Carousel_root[data-indicator-position='inside'] & {
        background-color: oklch(0% 0 0 / 40%);
      }
    }
  }

  &:active::before {
    .solid-design-parts-Carousel_root[data-indicator-position='outside'] & {
      background-color: oklch(70% 0 0);
    }

    .solid-design-parts-Carousel_root[data-indicator-position='inside'] & {
      background-color: oklch(0% 0 0 / 50%);
    }
  }

  &[aria-current='true']::before {
    .solid-design-parts-Carousel_root[data-indicator-position='outside'] & {
      background-color: oklch(60% 0 0);
    }

    .solid-design-parts-Carousel_root[data-indicator-position='inside'] & {
      border-color: oklch(0% 0 0 / 50%);
      background-color: oklch(100% 0 0);
      box-sizing: content-box;
    }
  }
}
