.solid-design-parts-Collapsible_root {
  box-sizing: border-box;
}

.solid-design-parts-Collapsible_summary {
  &::-webkit-details-marker {
    // Hide browser's default icon.
    display: none;
  }

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  box-sizing: border-box;
  cursor: pointer;
}

.solid-design-parts-Collapsible_icon {
  transform-origin: center;
  transition: all 140ms ease-out;

  .solid-design-parts-Collapsible_root[open] & {
    transform: rotate(90deg);
  }

  // Need for nested Collapsible
  .solid-design-parts-Collapsible_root:not([open]) & {
    transform: rotate(0deg);
  }
}
