.solid-design-parts-Collapsible_root {
  box-sizing: border-box;
}

.solid-design-parts-Collapsible_title-area {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;

  box-sizing: border-box;
  padding: 0;
  border: none;
  width: 100%;

  background: transparent;
  text-align: left;
  font: inherit;
  color: inherit;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: oklch(0 0 0 / 4%);
    }
  }

  &:active {
    background-color: oklch(0 0 0 / 6%);
  }
}

.solid-design-parts-Collapsible_icon {
  transform-origin: center;
  transition: all 140ms ease-out;

  .solid-design-parts-Collapsible_title-area[aria-expanded='true'] & {
    transform: rotate(90deg);
  }

  // Need for nested Collapsible
  .solid-design-parts-Collapsible_title-area:not([aria-expanded='true']) & {
    transform: rotate(0deg);
  }
}
