:root {
  --solid-design-parts-background-color: oklch(100% 0 0);
  --solid-design-parts-inverted-text-color: oklch(100% 0 0);
  --solid-design-parts-primary-color: oklch(59% 0.17 255.4);
  --solid-design-parts-primary-inverted-background-hover-color: oklch(64% 0.15 255.4);
  --solid-design-parts-primary-inverted-background-active-color: oklch(69% 0.13 255.4);
  --solid-design-parts-primary-selected-background-color: oklch(98% 0.02 255.4);
  --solid-design-parts-primary-selected-background-hover-color: oklch(96% 0.03 255.4);
  --solid-design-parts-primary-selected-background-active-color: oklch(94% 0.04 255.4);
  --solid-design-parts-primary-background-color: oklch(99% 0.01 255.4);
  --solid-design-parts-primary-background-hover-color: oklch(97% 0.02 255.4);
  --solid-design-parts-primary-background-active-color: oklch(95% 0.04 255.4);
  --solid-design-parts-placeholder-text-color: oklch(70% 0 0);
  --solid-design-parts-disabled-input-background-color: oklch(96% 0 0);
  --solid-design-parts-error-color: oklch(55% 0.19 30);
  --solid-design-parts-error-hover-color: oklch(60% 0.17 30);
  --solid-design-parts-error-active-color: oklch(65% 0.15 30);
  --solid-design-parts-error-background-hover-color: oklch(98% 0.015 30);
  --solid-design-parts-error-background-active-color: oklch(96% 0.02 30);
  --solid-design-parts-success-color: oklch(55% 0.2 150);
  --solid-design-parts-input-border-color: oklch(82% 0 0);
  --solid-design-parts-input-border-radius: 0.3em;
  --solid-design-parts-clear-button-icon-default-color: oklch(86% 0 0);
  --solid-design-parts-overlay-z-index: 1000;
}

.solid-design-parts_hidden-but-keep-width {
  visibility: hidden;
  box-sizing: border-box;
  height: 0;
  overflow: hidden;
}

.solid-design-parts_hidden-but-keep-height {
  visibility: hidden;
  box-sizing: border-box;
  width: 0;
  overflow: hidden;
}
