.solid-design-parts-DatePicker_root {
  width: max-content;
}

.solid-design-parts-DatePicker_date-cell {
  display: grid;
  place-items: center;

  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;

  font: inherit;
  background-color: transparent;
  color: inherit;

  &:where(:not(:disabled)) {
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: oklch(96% 0 0);
      }
    }

    &:active {
      background-color: oklch(92% 0 0);
    }
  }

  &[aria-selected='true'] {
    background-color: var(--solid-design-parts-primary-color);
    color: white;
  }

  &:disabled {
    color: oklch(85% 0 0);
  }

  &:focus-visible {
    outline-offset: -2px;
    outline: 2px solid var(--solid-design-parts-primary-color);

    &[aria-selected='true'] {
      outline-offset: -2px;
      outline: 1px solid var(--solid-design-parts-background-color);
    }
  }
}
