.solid-design-parts-DateInput_date-picker {
  margin: 0.8em;
}

.solid-design-parts-DateInput_launcher {
  display: inline-grid;
  vertical-align: top;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  text-align: start;

  border-radius: var(--solid-design-parts-input-border-radius);
  border: 1px solid var(--solid-design-parts-input-border-color);
  padding: 0;
  box-sizing: border-box;

  background-color: var(--solid-design-parts-background-color);
  color: inherit;
  font: inherit;
  cursor: pointer;

  &:disabled {
    background-color: var(--solid-design-parts-disabled-input-background-color);
    cursor: initial;
  }

  &:focus-visible {
    outline-color: var(--solid-design-parts-primary-color);
  }
}

.solid-design-parts-DateInput_clear-button {
  margin-right: 0.3em;

  &[aria-hidden='true'] {
    visibility: hidden;
  }
}

.solid-design-parts-DateInput_icon {
  margin-right: 0.3em;
}

.solid-design-parts-DateInput_preview-area {
  margin: 0.35em 0.5em 0.35em 0.6em;
}

.solid-design-parts-DateInput_placeholder {
  color: var(--solid-design-parts-placeholder-text-color);
  user-select: none;

  &::after {
    // nbsp
    content: '\00a0';
  }
}
