:root {
  --solid-design-parts-Divider_default-thickness: 1px;
  --solid-design-parts-Divider_default-color: oklch(90% 0 0);
}

.solid-design-parts-Divider_root {
  background: var(--solid-design-parts-Divider_color);

  &[data-direction='horizontal'] {
    height: var(--solid-design-parts-Divider_thickness);
  }

  &[data-direction='vertical'] {
    width: var(--solid-design-parts-Divider_thickness);
    height: 100%;
  }
}
