.solid-design-parts-ErrorMessage_root {
  position: absolute;
  margin-top: 0.2em;
  color: var(--solid-design-parts-error-color);
  white-space: pre-wrap;
  font-size: 90%;
  z-index: 200;

  &:empty {
    display: none;
  }
}
