.solid-design-parts-Foldable_root {
  --solid-design-parts-Foldable_header-background-default-color: oklch(98% 0 0);
  --solid-design-parts-Foldable_border-default-color: oklch(93% 0 0);

  border: 1px solid var(--solid-design-parts-Foldable_border-color);
  box-sizing: border-box;

  .solid-design-parts-Foldable_root + & {
    // Helpful for making accordions
    border-top: none;
  }
}

.solid-design-parts-Foldable_header {
  padding: 0.5em 1em;
  background-color: var(--solid-design-parts-Foldable_header-background-color);
  cursor: pointer;

  transition: var(--solid-design-parts-backward-transition);

  @media (hover: hover) {
    &:hover {
      // TODO: Make customizable
      background-color: oklch(96% 0 0);
    }
  }

  &:active {
    // TODO: Make customizable
    background-color: oklch(94% 0 0);
  }
}

.solid-design-parts-Foldable_icon {
  transform-origin: center;
  transition: all 140ms ease-out;

  .solid-design-parts-Foldable_root[data-unfolded='true'] & {
    transform: rotate(-180deg);
  }

  // Need for nested Foldable
  .solid-design-parts-Foldable_root[data-unfolded='false'] & {
    transform: rotate(0deg);
  }
}
