:root {
  --solid-design-parts-Modal_overlay-background-default-color: oklch(0% 0 0 / 10%);
}

.solid-design-parts-Modal_root {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: var(--solid-design-parts-overlay-z-index);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--solid-design-parts-Modal_overlay-background-color);
  outline: none;
}

.solid-design-parts-Modal_frame {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto minmax(0, 1fr);

  background-color: var(--solid-design-parts-background-color);
  max-height: 90vh;
  max-width: 90vw;

  border-radius: 0.5rem;
  box-shadow: 0 3px 14px oklch(0% 0 0 / 20%);
}

.solid-design-parts-Modal_header {
  padding: 0.5em;
}

.solid-design-parts-Modal_title {
  padding: 0 1em;
  white-space: pre-wrap;
}
