.solid-design-parts-Popover_overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: var(--solid-design-parts-overlay-z-index);
  outline: none;
}

.solid-design-parts-Popover_frame {
  position: fixed;
  transform: var(--solid-design-parts-Popover_transform);
  border-radius: 0.4rem;
  background-color: var(--solid-design-parts-background-color);
  box-shadow: 0 2px 8px oklch(0% 0 0 / 20%);

  .solid-design-parts-Popover_overlay[data-horizontal-position='left'] & {
    left: var(--solid-design-parts-Popover_left);
  }

  .solid-design-parts-Popover_overlay[data-horizontal-position='center'] & {
    left: calc((var(--solid-design-parts-Popover_left) + var(--solid-design-parts-Popover_right)) / 2);
  }

  .solid-design-parts-Popover_overlay[data-horizontal-position='right'] & {
    left: var(--solid-design-parts-Popover_right);
  }

  .solid-design-parts-Popover_overlay[data-vertical-position='top'] & {
    top: var(--solid-design-parts-Popover_top);
  }

  .solid-design-parts-Popover_overlay[data-vertical-position='center'] & {
    top: calc((var(--solid-design-parts-Popover_top) + var(--solid-design-parts-Popover_bottom)) / 2);
  }

  .solid-design-parts-Popover_overlay[data-vertical-position='bottom'] & {
    top: var(--solid-design-parts-Popover_bottom);
  }
}
