:root {
  --solid-design-parts-ProgressBar_height: 0.6em;
  --solid-design-parts-ProgressBar_stripe-first-color: oklch(70% 0.17 255.4);
}

.solid-design-parts-ProgressBar_root {
  box-sizing: border-box;
  height: var(--solid-design-parts-ProgressBar_height);
  border-radius: 999vh;
  overflow: hidden;
  background: oklch(92% 0 0);
}

.solid-design-parts-ProgressBar_progress {
  box-sizing: border-box;
  width: calc(100% * var(--solid-design-parts-ProgressBar_value));
  height: 100%;

  background-image: linear-gradient(
    -60deg,
    var(--solid-design-parts-ProgressBar_stripe-first-color),
    var(--solid-design-parts-ProgressBar_stripe-first-color) 33.33333%,
    var(--solid-design-parts-primary-color) 33.33333%,
    var(--solid-design-parts-primary-color) 66.66667%,
    var(--solid-design-parts-ProgressBar_stripe-first-color) 66.66667%,
    var(--solid-design-parts-ProgressBar_stripe-first-color)
  );
  background-size: var(--solid-design-parts-ProgressBar_height);
  animation: solid-design-parts-ProgressBar_stripe-animation 1s linear infinite;
}
@keyframes solid-design-parts-ProgressBar_stripe-animation {
  100% {
    background-position-x: var(--solid-design-parts-ProgressBar_height);
  }
}
