@use 'utility/utility.scss';

:root {
  --solid-design-parts-RadioButtons_radio-size: 1.2em;
  --solid-design-parts-RadioButtons_inner-circle-size: 0.6em;
}

.solid-design-parts-RadioButtons_root {
  position: relative;
}

.solid-design-parts-RadioButtons_radio-buttons {
  gap: var(--solid-design-parts-RadioButtons_gap);

  .solid-design-parts-RadioButtons_root[data-layout='horizontal'] & {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
  }
  .solid-design-parts-RadioButtons_root[data-layout='horizontal'].solid-design-parts-RadioButtons_has-columns-count & {
    grid-template-columns: repeat(var(--solid-design-parts-RadioButtons_grid-columns-count), max-content);
    grid-auto-flow: initial;
  }

  .solid-design-parts-RadioButtons_root[data-layout='vertical'] & {
    display: grid;
    grid-template-columns: max-content;
  }

  .solid-design-parts-RadioButtons_root[data-layout='flex-wrap'] & {
    display: flex;
    flex-wrap: wrap;
  }

  .solid-design-parts-RadioButtons_root[data-layout='space-between'] & {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-between;
  }
  .solid-design-parts-RadioButtons_root[data-layout='space-between'].solid-design-parts-RadioButtons_has-columns-count
    & {
    grid-template-columns: repeat(var(--solid-design-parts-RadioButtons_grid-columns-count), max-content);
    grid-auto-flow: initial;
  }

  .solid-design-parts-RadioButtons_root[data-layout='space-around'] & {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-around;
  }
  .solid-design-parts-RadioButtons_root[data-layout='space-around'].solid-design-parts-RadioButtons_has-columns-count
    & {
    grid-template-columns: repeat(var(--solid-design-parts-RadioButtons_grid-columns-count), max-content);
    grid-auto-flow: initial;
  }

  .solid-design-parts-RadioButtons_root[data-layout='space-evenly'] & {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-evenly;
  }
  .solid-design-parts-RadioButtons_root[data-layout='space-evenly'].solid-design-parts-RadioButtons_has-columns-count
    & {
    grid-template-columns: repeat(var(--solid-design-parts-RadioButtons_grid-columns-count), max-content);
    grid-auto-flow: initial;
  }
}

.solid-design-parts-RadioButtons_label {
  display: inline-grid;
  grid-template-columns: auto minmax(0, 1fr);
  align-items: center;
  gap: 0.3em;
  vertical-align: top;

  white-space: pre-wrap;
  cursor: pointer;

  &[aria-disabled='true'] {
    cursor: default;

    color: oklch(70% 0 0);
  }
}

.solid-design-parts-RadioButtons_radio {
  appearance: none;

  display: inline-grid;
  place-items: center;

  width: utility.toEvenPx(var(--solid-design-parts-RadioButtons_radio-size));
  height: utility.toEvenPx(var(--solid-design-parts-RadioButtons_radio-size));
  border-radius: 100%;
  margin: 0;

  border: 0.1em solid oklch(60% 0 0);
  background-color: oklch(100% 0 0);

  cursor: pointer;

  transition: all 100ms ease-out;

  &:focus-visible {
    outline-offset: 1px;
    outline: 2px solid var(--solid-design-parts-primary-color);
  }

  &::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-radius: 100%;

    transition: all 100ms ease-out;
  }

  &:checked {
    border-color: var(--solid-design-parts-primary-color);
    transition: all 100ms ease-out;

    &::before {
      width: utility.toEvenPx(var(--solid-design-parts-RadioButtons_inner-circle-size));
      height: utility.toEvenPx(var(--solid-design-parts-RadioButtons_inner-circle-size));
      background-color: var(--solid-design-parts-primary-color);

      transition: all 100ms ease-out;

      .solid-design-parts-RadioButtons_root[aria-invalid='true'] & {
        background-color: var(--solid-design-parts-error-color);
      }
    }

    &:disabled::before {
      background-color: oklch(75% 0 0);
    }
  }

  .solid-design-parts-RadioButtons_root[aria-invalid='true'] & {
    border-color: var(--solid-design-parts-error-color);
  }

  &:disabled {
    cursor: default;
    border-color: oklch(75% 0 0);
  }
}
