.solid-design-parts-Select_launcher {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  text-align: start;

  box-sizing: border-box;
  width: max-content;
  height: 100%;
  border-radius: 0.3em;
  border: 1px solid var(--solid-design-parts-input-border-color);
  padding: 0.35em 0.7em;

  background-color: var(--solid-design-parts-background-color);
  color: inherit;
  font: inherit;
  cursor: pointer;

  &:disabled {
    background-color: var(--solid-design-parts-disabled-input-background-color);
    cursor: initial;
  }

  &:focus-visible {
    border-color: var(--solid-design-parts-primary-color);
    outline: none;
  }

  .solid-design-parts-Select_full-width & {
    width: 100%;
  }

  &[aria-invalid='true'] {
    border-color: var(--solid-design-parts-error-color);
  }
}

.solid-design-parts-Select_preview-and-clear-button {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  &[aria-hidden='true'] {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
}

.solid-design-parts-Select_preview {
  box-sizing: border-box;
  margin-right: 0.3em;
  white-space: pre-wrap;
}

.solid-design-parts-Select_placeholder {
  box-sizing: border-box;
  margin-right: 0.3em;
  color: var(--solid-design-parts-placeholder-text-color);
  white-space: pre-wrap;
  user-select: none;

  &[aria-hidden='true'] {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
}

.solid-design-parts-Select_clear-button {
  &[aria-hidden='true'] {
    visibility: hidden;
  }
}

.solid-design-parts-Select_icon {
  transform-origin: center;
  transition: all 140ms ease-out;
  transform: rotate(0deg);

  .solid-design-parts-Select_opened & {
    transform: rotate(-180deg);
  }
}

.solid-design-parts-Select_overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: var(--solid-design-parts-overlay-z-index);
  outline: none;
}

.solid-design-parts-Select_dropdown {
  position: fixed;
  left: var(--solid-design-parts-Select_dropdown-left);
  top: var(--solid-design-parts-Select_dropdown-top);
  box-sizing: border-box;
  width: var(--solid-design-parts-Select_dropdown-width);
  max-height: var(--solid-design-parts-Select_dropdown-max-height);
  border-radius: 0.4em;
  background-color: var(--solid-design-parts-background-color);
  box-shadow: 0 1px 4px oklch(75% 0 0);
}

.solid-design-parts-Select_search-box-area {
  padding: 0.3em;
}

.solid-design-parts-Select_option {
  text-align: start;

  border: none;
  padding: 0.5em 0.8em;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.4em;

  background-color: transparent;
  color: inherit;
  font: inherit;
  white-space: pre-wrap;
  cursor: pointer;

  &:focus-visible {
    outline-offset: -2px;
    outline: 2px solid var(--solid-design-parts-primary-color);
  }

  @media (hover: hover) {
    &:hover {
      background-color: oklch(97% 0 0);
    }
  }

  &:active {
    background-color: oklch(94% 0 0);
  }

  &[aria-selected='true'] {
    background-color: var(--solid-design-parts-primary-selected-background-color);
    color: var(--solid-design-parts-primary-color);

    @media (hover: hover) {
      &:hover {
        background-color: var(--solid-design-parts-primary-selected-background-hover-color);
      }
    }

    &:active {
      background-color: var(--solid-design-parts-primary-selected-background-active-color);
    }
  }
}
