:root {
  --solid-design-parts-Slider_track-default-color: oklch(85% 0 0);
  --solid-design-parts-Slider_track-default-fill-color: var(--solid-design-parts-primary-color);
  --solid-design-parts-Slider_track-default-height: 0.5em;
  --solid-design-parts-Slider_thumb-default-width: 1em;
  --solid-design-parts-Slider_thumb-default-height: 1em;
  --solid-design-parts-Slider_thumb-default-color: var(--solid-design-parts-primary-color);
}

.solid-design-parts-Slider_root {
  position: relative;
}

.solid-design-parts-Slider_track {
  box-sizing: border-box;
  height: var(--solid-design-parts-Slider_track-height);
  border-radius: 999vh;
  background: var(--solid-design-parts-Slider_track-background);

  cursor: pointer;
}

.solid-design-parts-Slider_thumb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(var(--solid-design-parts-Slider_thumb-x));

  box-sizing: border-box;
  width: var(--solid-design-parts-Slider_thumb-width);
  height: var(--solid-design-parts-Slider_thumb-height);
  border-radius: 999vh;

  background-color: var(--solid-design-parts-Slider_thumb-color);
  box-shadow: 0 1px 4px oklch(0% 0 0 / 50%);

  cursor: pointer;
}
