:root {
  --solid-design-parts-Spinner_default-size: 1.2em;
}

.solid-design-parts-Spinner_root {
  display: inline-block;
  position: relative;
  width: var(--solid-design-parts-Spinner_size);
  height: var(--solid-design-parts-Spinner_size);

  vertical-align: top;

  background-image: conic-gradient(transparent, transparent, var(--solid-design-parts-Spinner_color));
  mask: var(--solid-design-parts-Spinner_svg-url) no-repeat center;
  mask-size: contain;

  transform-origin: center;
  animation: rotation var(--solid-design-parts-Spinner_period) infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
