.solid-design-parts-Tabs_tab-bar {
  display: grid;
  grid-template-columns: var(--solid-design-parts-Tabs_template);

  .solid-design-parts-Tabs_root[data-variant='colored tab and divider'] & {
    gap: 0.3em;
  }
}

.solid-design-parts-Tabs_tab {
  display: grid;
  place-items: center;

  padding: 0.5em 1em;
  box-sizing: border-box;

  border: none;
  background-color: var(--solid-design-parts-background-color);
  color: inherit;
  font: inherit;
  white-space: pre-wrap;
  cursor: pointer;

  .solid-design-parts-Tabs_root[data-variant='colored tab and divider'] & {
    background-color: oklch(95% 0 0);
    color: oklch(30% 0 0);

    &.solid-design-parts-Tabs_active {
      color: var(--solid-design-parts-inverted-text-color);
      background-color: var(--solid-design-parts-primary-color);
    }
  }

  .solid-design-parts-Tabs_root[data-variant='bordered tab'] & {
    border: 1px solid transparent;

    &:not(.solid-design-parts-Tabs_active) {
      border-bottom-color: oklch(80% 0 0);
    }

    &.solid-design-parts-Tabs_active {
      border-top-color: oklch(80% 0 0);
      border-left-color: oklch(80% 0 0);
      border-right-color: oklch(80% 0 0);
    }
  }

  .solid-design-parts-Tabs_root[data-variant='underlined tab'] & {
    border-bottom: transparent 2px solid;

    &.solid-design-parts-Tabs_active {
      border-bottom-color: var(--solid-design-parts-primary-color);
      color: var(--solid-design-parts-primary-color);
    }
  }

  &:focus-visible {
    outline-offset: -2px;
    outline: 2px solid var(--solid-design-parts-primary-color);
  }
}

.solid-design-parts-Tabs_dummy-tab-for-border {
  .solid-design-parts-Tabs_root[data-variant='bordered tab'] & {
    border-bottom: oklch(80% 0 0) 1px solid;
  }
}

.solid-design-parts-Tabs_content {
  background-color: var(--solid-design-parts-background-color);

  .solid-design-parts-Tabs_root[data-variant='colored tab and divider'] & {
    border-top: var(--solid-design-parts-primary-color) 2px solid;
  }
}
