:where(.solid-design-parts-TextInput_frame) {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  box-sizing: border-box;
  height: 100%;
  border-radius: var(--solid-design-parts-TextInput_radius);
  border: 1px solid var(--solid-design-parts-input-border-color);
  background-color: var(--solid-design-parts-background-color);

  // Reason for this configuration: when setting a background color to suffix or prefix, it may overflow from the rounded corners.
  // Here is an example:
  // <TextInput
  //   placeholder="your.domain"
  //   prefix={<Gravity style={{ padding: '0 0.5em', background: '#eee' }}>https://</Gravity>}
  // />
  overflow: hidden;

  .solid-design-parts-TextInput_root[aria-disabled='true'] & {
    background-color: var(--solid-design-parts-disabled-input-background-color);
  }

  /* TODO: Use :has() instead of CSS class */
  .solid-design-parts-TextInput_input-element-has-focus & {
    border-color: var(--solid-design-parts-primary-color);
  }

  .solid-design-parts-TextInput_root[aria-invalid='true'] & {
    border-color: var(--solid-design-parts-error-color);
  }
}

.solid-design-parts-TextInput_prefix,
.solid-design-parts-TextInput_suffix {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  height: 100%;
}

.solid-design-parts-TextInput_body {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.3em;
  align-items: center;

  box-sizing: border-box;
  padding: 0 0.6em;
}

.solid-design-parts-TextInput_input {
  box-sizing: border-box;
  height: 100%;
  padding: 0.35em 0;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;

  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  &::placeholder {
    color: var(--solid-design-parts-placeholder-text-color);
  }
}

.solid-design-parts-TextInput_clear-button {
  &[aria-hidden='true'] {
    visibility: hidden;
  }
}
