.solid-design-parts-TitleBarLayout_root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.solid-design-parts-TitleBarLayout_title {
  font-size: larger;
}

.solid-design-parts-TitleBarLayout_left-area {
  display: grid;
  place-items: center start;
  box-sizing: border-box;
  width: max-content;
}

.solid-design-parts-TitleBarLayout_right-area {
  display: grid;
  place-items: center end;
  box-sizing: border-box;
  width: max-content;
}

.solid-design-parts-TitleBarLayout_left,
.solid-design-parts-TitleBarLayout_right {
  grid-area: 1 / 1;
  display: flex;
  align-items: center;

  &[aria-hidden='true'] {
    visibility: hidden;
  }
}
