.header {
  padding: 0.4em 1em;
}

.sidebar {
  // Required to display scrollbar properly.
  overflow: hidden;
}

.sidebarContent {
  padding-top: 2rem;
  padding-bottom: 8rem;
}

.sideBarCollapsibleSummary {
  padding: 0.5em;
  font-weight: bold;
  color: oklch(50% 0 0);
}

.main {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}
