.header {
  padding: 0.4em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.libraryLogo {
  margin: 0 0.5em;
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
  font-style: italic;
  color: oklch(50% 0 0);
  text-decoration: none;
}

.sidebar {
  // Required to display scrollbar properly.
  overflow: hidden;
}

.sidebarContent {
  padding-top: 2rem;
  padding-bottom: 8rem;
}

.sideBarCollapsibleSummary {
  padding: 0.5em;
  font-weight: bold;
  color: oklch(50% 0 0);
}

.main {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}
