.title {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 0.1em;
  align-items: center;

  margin-top: 3em;
  margin-bottom: 1em;
  box-sizing: border-box;
  width: max-content;

  font-size: 120%;
  color: oklch(50% 0 0);
}

.fragment {
  visibility: hidden;
  font-size: 80%;
  font-weight: bold;
  color: var(--solid-design-parts-primary-color);

  @media (hover: hover) {
    .title:hover & {
      visibility: initial;
    }
  }
}

.description {
  white-space: pre-wrap;
  font-size: 0.95em;
}

.frame {
  padding: 2em;
  border-radius: 0.5rem;
  border: oklch(90% 0 0) 1px solid;
}

.list {
  &[data-direction='horizontal'] {
    & > * {
      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &[data-direction='vertical'] {
    & > * {
      margin-top: 2rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
