.link {
  display: block;
  padding: 0.5em 2.4em;
  color: inherit;
  text-decoration: none;

  &[aria-selected='true'] {
    color: var(--solid-design-parts-primary-color);
    font-weight: bold;
  }

  @media (hover: hover) {
    &:hover {
      background-color: oklch(0 0 0 / 4%);
    }
  }

  &:active {
    background-color: oklch(0 0 0 / 6%);
  }
}

.hiddenSelected {
  visibility: hidden;
  box-sizing: border-box;
  height: 0;
  overflow: hidden;
}
