.mantle-ui-AutoSizeTextArea_body {
  box-sizing: border-box;
  position: relative;
}

:where(.mantle-ui-AutoSizeTextArea_dummy, .mantle-ui-AutoSizeTextArea_text-area) {
  box-sizing: border-box;

  padding: 0.4em 0.6em;
  border-radius: var(--mantle-ui-input-border-radius);
  border: 1px solid var(--mantle-ui-input-border-color);

  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;

  color: inherit;
  font: inherit;
  line-height: 1.8em;
  letter-spacing: inherit;

  min-height: 4.8em;
}

.mantle-ui-AutoSizeTextArea_dummy {
  visibility: hidden;
}

.mantle-ui-AutoSizeTextArea_text-area {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  outline: none;
  resize: none;

  &::placeholder {
    color: var(--mantle-ui-placeholder-text-color);
  }

  &:disabled {
    background-color: var(--mantle-ui-disabled-input-background-color);
  }

  :where(.mantle-ui-AutoSizeTextArea_root[aria-invalid='true'] &) {
    border-color: var(--mantle-ui-error-color);
  }

  &:focus {
    border-color: var(--mantle-ui-primary-color);
  }
}

.mantle-ui-AutoSizeTextArea_error-message {
  color: var(--mantle-ui-error-color);
  margin: 1em 0 0;

  &:empty {
    display: none;
  }
}
