.mantle-ui-Button_root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  box-sizing: border-box;
  padding: 0.4em 1em;
  border-radius: var(--mantle-ui-Button_radius);
  border-width: 1px;
  border-style: solid;

  font: inherit;
  white-space: pre-wrap;
  text-decoration: none;
  cursor: pointer;

  transition: var(--mantle-ui-Button_backward-transition);

  --mantle-ui-Button_forward-transition: all 200ms ease-out;
  --mantle-ui-Button_backward-transition: all 400ms ease-out;

  &[aria-disabled='true'] {
    pointer-events: none;
  }

  &:not(.mantle-ui-Button_ghost) {
    color: var(--mantle-ui-inverted-text-color);
    border-color: var(--mantle-ui-Button_tint-color);
    background-color: var(--mantle-ui-Button_tint-color);

    &[data-color='primary'] {
      --mantle-ui-Button_tint-color: var(--mantle-ui-primary-color);

      &:not([aria-disabled='true']) {
        @media (hover: hover) {
          &:hover {
            transition: var(--mantle-ui-Button_forward-transition);
            --mantle-ui-Button_tint-color: var(--mantle-ui-primary-inverted-background-hover-color);
          }
        }

        &:active {
          transition: var(--mantle-ui-Button_forward-transition);
          --mantle-ui-Button_tint-color: var(--mantle-ui-primary-inverted-background-active-color);
        }
      }
    }

    &[data-color='achromatic'] {
      --mantle-ui-Button_tint-color: oklch(55% 0 0);

      &:not([aria-disabled='true']) {
        @media (hover: hover) {
          &:hover {
            transition: var(--mantle-ui-Button_forward-transition);
            --mantle-ui-Button_tint-color: oklch(60% 0 0);
          }
        }

        &:active {
          transition: var(--mantle-ui-Button_forward-transition);
          --mantle-ui-Button_tint-color: oklch(65% 0 0);
        }
      }
    }

    &[data-color='error'] {
      --mantle-ui-Button_tint-color: var(--mantle-ui-error-color);

      &:not([aria-disabled='true']) {
        @media (hover: hover) {
          &:hover {
            transition: var(--mantle-ui-Button_forward-transition);
            --mantle-ui-Button_tint-color: var(--mantle-ui-error-hover-color);
          }
        }

        &:active {
          transition: var(--mantle-ui-Button_forward-transition);
          --mantle-ui-Button_tint-color: var(--mantle-ui-error-active-color);
        }
      }
    }
  }

  &.mantle-ui-Button_ghost {
    color: var(--mantle-ui-Button_tint-color);
    border-color: var(--mantle-ui-Button_tint-color);
    background-color: transparent;

    &[data-color='primary'] {
      --mantle-ui-Button_tint-color: var(--mantle-ui-primary-color);

      &:not([aria-disabled='true']) {
        @media (hover: hover) {
          &:hover {
            transition: var(--mantle-ui-Button_forward-transition);
            background-color: var(--mantle-ui-primary-background-hover-color);
          }
        }

        &:active {
          transition: var(--mantle-ui-Button_forward-transition);
          background-color: var(--mantle-ui-primary-background-active-color);
        }
      }
    }

    &[data-color='achromatic'] {
      --mantle-ui-Button_tint-color: oklch(50% 0 0);

      &:not([aria-disabled='true']) {
        @media (hover: hover) {
          &:hover {
            transition: var(--mantle-ui-Button_forward-transition);
            background-color: oklch(97% 0 0);
          }
        }

        &:active {
          transition: var(--mantle-ui-Button_forward-transition);
          background-color: oklch(94% 0 0);
        }
      }
    }

    &[data-color='error'] {
      --mantle-ui-Button_tint-color: var(--mantle-ui-error-color);

      &:not([aria-disabled='true']) {
        @media (hover: hover) {
          &:hover {
            transition: var(--mantle-ui-Button_forward-transition);
            background-color: var(--mantle-ui-error-background-hover-color);
          }
        }

        &:active {
          transition: var(--mantle-ui-Button_forward-transition);
          background-color: var(--mantle-ui-error-background-active-color);
        }
      }
    }
  }
}

.mantle-ui-Button_invisible {
  visibility: hidden;
}

.mantle-ui-Button_full-width {
  display: flex;
  width: 100%;
}
