:root {
  --mantle-ui-Calendar_cell-width: 2.3em;
  --mantle-ui-Calendar_cell-height: 2.3em;
  --mantle-ui-Calendar_sunday-text-color: oklch(50% 0.6 5);
  --mantle-ui-Calendar_saturday-text-color: oklch(50% 0.6 260);
}

.mantle-ui-Calendar_root {
  width: max-content;
}

.mantle-ui-Calendar_year-month-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mantle-ui-Calendar_month-move-button {
  &.mantle-ui-Calendar_hidden {
    visibility: hidden;
  }
}

.mantle-ui-Calendar_year-month {
  display: grid;
  grid-template-areas: var(--mantle-ui-Calendar_year-month-order);
  align-items: center;
  gap: 0.3em;
}

.mantle-ui-Calendar_year,
.mantle-ui-Calendar_month {
  font-weight: bold;
  color: oklch(50% 0 0);
}

.mantle-ui-Calendar_year {
  grid-area: year;
}

.mantle-ui-Calendar_month {
  grid-area: month;
}

.mantle-ui-Calendar_grid {
  display: grid;
  grid-template-columns: repeat(7, var(--mantle-ui-Calendar_cell-width));
  grid-auto-rows: var(--mantle-ui-Calendar_cell-height);
  width: max-content;
}

.mantle-ui-Calendar_day-row,
.mantle-ui-Calendar_date-row {
  display: contents;
}

.mantle-ui-Calendar_cell {
  display: flex;
  align-items: center;
  justify-content: center;

  .mantle-ui-Calendar_day-row & {
    color: oklch(50% 0 0);

    &[data-day='0'] {
      color: var(--mantle-ui-Calendar_sunday-text-color);
    }

    &[data-day='6'] {
      color: var(--mantle-ui-Calendar_saturday-text-color);
    }
  }

  &.mantle-ui-Calendar_other-month {
    color: oklch(60% 0 0);
  }
}
