@use 'utility/utility.scss';

:root {
  --mantle-ui-Checkbox_checkbox-size: 1.06em;
  --mantle-ui-Checkbox_check-size: 0.94em;
}

.mantle-ui-Checkbox_root {
  display: inline-grid;
  vertical-align: top;
  grid-template-columns: auto minmax(0, 1fr);
  align-items: center;
  gap: 0.5em;

  cursor: pointer;

  &[aria-disabled='true'] {
    cursor: default;

    color: oklch(70% 0 0);
  }
}

.mantle-ui-Checkbox_checkbox {
  appearance: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: utility.toIntegerPx(var(--mantle-ui-Checkbox_checkbox-size));
  height: utility.toIntegerPx(var(--mantle-ui-Checkbox_checkbox-size));
  border-radius: 0.25em;
  margin: 0;
  border: 1px solid oklch(84% 0 0);
  background-color: white;
  font-size: inherit;

  cursor: pointer;

  transition: all 140ms ease-out;

  &:checked {
    background-color: var(--mantle-ui-primary-color);

    &:disabled {
      background-color: oklch(70% 0 0);
    }

    &::before {
      width: utility.toIntegerPx(var(--mantle-ui-Checkbox_check-size));
      height: utility.toIntegerPx(var(--mantle-ui-Checkbox_check-size));
    }
  }

  &:disabled {
    cursor: default;
  }

  &:focus-visible {
    outline-offset: 1px;
    outline: 2px solid var(--mantle-ui-primary-color);
  }

  &::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;

    background-color: white;
    mask: url('./image/check-bold.svg') no-repeat center;
    mask-size: contain;
  }
}

.mantle-ui-Checkbox_children {
  white-space: pre-wrap;
}
