@use 'utility/utility.scss';

:root {
  --solid-design-parts-Checkbox_checkbox-size: 1.06em;
  --solid-design-parts-Checkbox_check-size: 0.88em;
  --solid-design-parts-Checkbox_checkbox-default-radius: 0.25em;
}

.solid-design-parts-Checkbox_label {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  align-items: center;
  gap: 0.5em;

  box-sizing: border-box;
  width: max-content;

  cursor: pointer;

  .solid-design-parts-Checkbox_root[aria-disabled='true'] & {
    cursor: default;

    color: oklch(70% 0 0);
  }
}

.solid-design-parts-Checkbox_checkbox {
  appearance: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: utility.toIntegerPx(var(--solid-design-parts-Checkbox_checkbox-size));
  height: utility.toIntegerPx(var(--solid-design-parts-Checkbox_checkbox-size));
  border-radius: var(--solid-design-parts-Checkbox_checkbox-radius);
  margin: 0;
  border: 1px solid oklch(84% 0 0);
  background-color: white;
  font-size: inherit;

  cursor: pointer;

  transition: all 140ms ease-out;

  .solid-design-parts-Checkbox_root[aria-invalid='true'] & {
    border-color: var(--solid-design-parts-error-color);
  }

  &:checked {
    background-color: var(--solid-design-parts-primary-color);

    .solid-design-parts-Checkbox_root[aria-invalid='true'] & {
      background-color: var(--solid-design-parts-error-color);
    }

    &:disabled {
      background-color: oklch(70% 0 0);
    }

    &::before {
      width: utility.toIntegerPx(var(--solid-design-parts-Checkbox_check-size));
      height: utility.toIntegerPx(var(--solid-design-parts-Checkbox_check-size));
    }
  }

  &:disabled {
    cursor: default;
  }

  &:focus-visible {
    outline-offset: 1px;
    outline: 2px solid var(--solid-design-parts-primary-color);
  }

  &::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;

    background-color: white;
    mask: url('./image/check-bold.svg') no-repeat center;
    mask-size: contain;
  }
}

.solid-design-parts-Checkbox_children {
  box-sizing: border-box;
  white-space: pre-wrap;
}

.solid-design-parts-Checkbox_error-message {
  margin: 0.5em 0 0;
  color: var(--solid-design-parts-error-color);
  white-space: pre-wrap;

  &:empty {
    display: none;
  }
}
