@use 'utility/utility.scss';

.solid-design-parts-Checkboxes_checkboxes {
  gap: var(--solid-design-parts-Checkboxes_gap);

  .solid-design-parts-Checkboxes_root[data-layout='horizontal'] & {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
  }
  .solid-design-parts-Checkboxes_root[data-layout='horizontal'].solid-design-parts-Checkboxes_has-columns-count & {
    grid-template-columns: repeat(var(--solid-design-parts-Checkboxes_grid-columns-count), max-content);
    grid-auto-flow: initial;
  }

  .solid-design-parts-Checkboxes_root[data-layout='vertical'] & {
    display: grid;
    grid-template-columns: max-content;
  }

  .solid-design-parts-Checkboxes_root[data-layout='flex-wrap'] & {
    display: flex;
    flex-wrap: wrap;
  }

  .solid-design-parts-Checkboxes_root[data-layout='space-between'] & {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-between;
  }
  .solid-design-parts-Checkboxes_root[data-layout='space-between'].solid-design-parts-Checkboxes_has-columns-count & {
    grid-template-columns: repeat(var(--solid-design-parts-Checkboxes_grid-columns-count), max-content);
    grid-auto-flow: initial;
  }

  .solid-design-parts-Checkboxes_root[data-layout='space-around'] & {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-around;
  }
  .solid-design-parts-Checkboxes_root[data-layout='space-around'].solid-design-parts-Checkboxes_has-columns-count & {
    grid-template-columns: repeat(var(--solid-design-parts-Checkboxes_grid-columns-count), max-content);
    grid-auto-flow: initial;
  }

  .solid-design-parts-Checkboxes_root[data-layout='space-evenly'] & {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-evenly;
  }
  .solid-design-parts-Checkboxes_root[data-layout='space-evenly'].solid-design-parts-Checkboxes_has-columns-count & {
    grid-template-columns: repeat(var(--solid-design-parts-Checkboxes_grid-columns-count), max-content);
    grid-auto-flow: initial;
  }
}

.solid-design-parts-Checkboxes_label {
  display: inline-grid;
  grid-template-columns: auto minmax(0, 1fr);
  align-items: center;
  gap: 0.3em;
  vertical-align: top;

  cursor: pointer;

  &[aria-disabled='true'] {
    cursor: default;

    color: oklch(70% 0 0);
  }
}
