:root {
  --mantle-ui-DataTable_header-background-default-color: oklch(97% 0 0);
  --mantle-ui-DataTable_header-text-default-color: oklch(40% 0 0);
  --mantle-ui-DataTable_even-row-background-default-color: transparent;
  --mantle-ui-DataTable_odd-row-background-default-color: transparent;
  --mantle-ui-DataTable_sort-icon-default-active-color: oklch(40% 0 0);
  --mantle-ui-DataTable_sort-icon-default-inactive-color: oklch(60% 0 0);
}

.mantle-ui-DataTable_root {
  grid-template-columns: var(--mantle-ui-DataTable_template-columns);

  &:not(.mantle-ui-DataTable_full-width) {
    display: inline-grid;
    vertical-align: top;
  }

  &.mantle-ui-DataTable_full-width {
    display: grid;
  }
}

.mantle-ui-DataTable_header {
  display: contents;
}

.mantle-ui-DataTable_sort-button {
  transform-origin: center;
  transition: all 140ms ease-out;

  &[data-reversed='true'] {
    transform: rotate(-180deg);
  }
}

.mantle-ui-DataTable_row {
  display: contents;
}

.mantle-ui-DataTable_cell {
  padding: 0.6em 1.6em;
  min-width: var(--mantle-ui-DataTable_cell-min-width);
  max-width: var(--mantle-ui-DataTable_cell-max-width);
  overflow: hidden;

  .mantle-ui-DataTable_header & {
    font-weight: bold;
    color: var(--mantle-ui-DataTable_header-text-default-color);

    background-color: var(--mantle-ui-DataTable_header-background-default-color);
  }

  .mantle-ui-DataTable_clickable-row & {
    cursor: pointer;
  }

  .mantle-ui-DataTable_even-row & {
    background-color: var(--mantle-ui-DataTable_even-row-background-color);
  }

  .mantle-ui-DataTable_odd-row & {
    background-color: var(--mantle-ui-DataTable_odd-row-background-color);
  }

  .mantle-ui-DataTable_clickable-row:hover & {
    background-color: oklch(98% 0 0);
  }

  .mantle-ui-DataTable_clickable-row:active & {
    background-color: oklch(96% 0 0);
  }
}

.mantle-ui-DataTable_header-cell-cage {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.mantle-ui-DataTable_horizontal-ruled-line {
  grid-column: 1 / calc(2 * var(--mantle-ui-data-table-column-count) + 2);
}

.mantle-ui-DataTable_empty-state {
  display: contents;
}

.mantle-ui-DataTable_empty-state-cell {
  grid-column: 2 / calc(2 * var(--mantle-ui-data-table-column-count) + 1);
}

.mantle-ui-DataTable_empty-message {
  padding: 1em 2em;
}
