:root {
  --solid-design-parts-DataTable_header-background-default-color: oklch(97% 0 0);
  --solid-design-parts-DataTable_header-text-default-color: oklch(40% 0 0);
  --solid-design-parts-DataTable_even-row-background-default-color: transparent;
  --solid-design-parts-DataTable_odd-row-background-default-color: transparent;
  --solid-design-parts-DataTable_sort-icon-default-active-color: oklch(40% 0 0);
  --solid-design-parts-DataTable_sort-icon-default-inactive-color: oklch(60% 0 0);
}

.solid-design-parts-DataTable_root {
  grid-template-columns: var(--solid-design-parts-DataTable_template-columns);
  display: grid;

  &:not(.solid-design-parts-DataTable_full-width) {
    width: max-content;
  }
}

.solid-design-parts-DataTable_header {
  display: contents;
}

.solid-design-parts-DataTable_sort-button {
  transform-origin: center;
  transition: all 140ms ease-out;

  &[data-reversed='true'] {
    transform: rotate(-180deg);
  }
}

.solid-design-parts-DataTable_row {
  display: contents;
  color: inherit;
  text-decoration: none;
}

.solid-design-parts-DataTable_cell {
  padding: 0.6em 1em;
  min-width: var(--solid-design-parts-DataTable_cell-min-width);
  max-width: var(--solid-design-parts-DataTable_cell-max-width);
  overflow: hidden;

  .solid-design-parts-DataTable_header & {
    font-weight: bold;
    color: var(--solid-design-parts-DataTable_header-text-default-color);

    background-color: var(--solid-design-parts-DataTable_header-background-default-color);
  }

  .solid-design-parts-DataTable_clickable-row & {
    cursor: pointer;
  }

  .solid-design-parts-DataTable_even-row & {
    background-color: var(--solid-design-parts-DataTable_even-row-background-color);
  }

  .solid-design-parts-DataTable_odd-row & {
    background-color: var(--solid-design-parts-DataTable_odd-row-background-color);
  }

  @media (hover: hover) {
    .solid-design-parts-DataTable_clickable-row:hover & {
      background-color: oklch(98% 0 0);
    }
  }

  .solid-design-parts-DataTable_clickable-row:active & {
    background-color: oklch(96% 0 0);
  }
}

.solid-design-parts-DataTable_header-cell-cage {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.solid-design-parts-DataTable_horizontal-ruled-line {
  grid-column: 1 / -1;
}

.solid-design-parts-DataTable_empty-state {
  display: contents;
}

.solid-design-parts-DataTable_empty-state-cell {
  grid-column: 2 / -2;
}

.solid-design-parts-DataTable_empty-message {
  padding: 1em 2em;
}
