:root {
  --skel-Divider_default-thickness: 1px;
  --skel-Divider_default-color: oklch(90% 0 0);
}

.skel-Divider_root {
  background: var(--skel-Divider_color);

  &[data-direction='horizontal'] {
    height: var(--skel-Divider_thickness);
  }

  &[data-direction='vertical'] {
    width: var(--skel-Divider_thickness);
    height: 100%;
  }
}
