:root {
  --mantle-ui-Divider_default-thickness: 1px;
  --mantle-ui-Divider_default-color: oklch(90% 0 0);
}

.mantle-ui-Divider_root {
  background: var(--mantle-ui-Divider_color);

  &[data-direction='horizontal'] {
    height: var(--mantle-ui-Divider_thickness);
  }

  &[data-direction='vertical'] {
    width: var(--mantle-ui-Divider_thickness);
    height: 100%;
  }
}
