.solid-design-parts-Gravity_root {
  display: grid;
  box-sizing: border-box;
  height: 100%;

  &[data-horizontal-position='left'] {
    justify-items: left;
  }

  &[data-horizontal-position='center'] {
    justify-items: center;
  }

  &[data-horizontal-position='right'] {
    justify-items: right;
  }

  &[data-vertical-position='top'] {
    align-items: start;
  }

  &[data-vertical-position='center'] {
    align-items: center;
  }

  &[data-vertical-position='bottom'] {
    align-items: end;
  }
}
