:root {
  --solid-design-parts-IconButton_default-size: 1.8em;
  --solid-design-parts-IconButton_default-radius: 999vh;
  --solid-design-parts-IconButton_icon-default-size: 80%;
  --solid-design-parts-IconButton_disabled-default-color: oklch(70% 0 0);
}

.solid-design-parts-IconButton_root {
  border: none;
  background-color: var(--solid-design-parts-IconButton_background-color);
  padding: 0;
  color: inherit;
  font: inherit;

  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;

  width: var(--solid-design-parts-IconButton_size);
  height: var(--solid-design-parts-IconButton_size);
  box-sizing: border-box;
  border-radius: var(--solid-design-parts-IconButton_radius);
  overflow: hidden;

  user-select: none;

  transition: all 140ms ease-out;

  &:not([aria-disabled='true']) {
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        background-color: var(--solid-design-parts-IconButton_background-hover-color);
      }
    }

    &:active {
      background-color: var(--solid-design-parts-IconButton_background-active-color);
    }
  }

  &:focus-visible {
    outline-offset: 1px;
    outline: 2px solid var(--solid-design-parts-primary-color);
  }
}
