:root {
  --mantle-ui-Icon_default-color: oklch(50% 0 0);
  --mantle-ui-Icon_default-size: 1.5em;
}

.mantle-ui-Icon_root {
  display: inline-block;
  vertical-align: top;
  width: var(--mantle-ui-Icon_size);
  height: var(--mantle-ui-Icon_size);

  background-color: var(--mantle-ui-Icon_color);
  mask: var(--mantle-ui-Icon_url) no-repeat center;
  mask-size: contain;

  transform-origin: center;
  transform: rotate(var(--mantle-ui-Icon_rotate));
}
