:root {
  --solid-design-parts-Icon_default-color: oklch(50% 0 0);
  --solid-design-parts-Icon_default-size: 1.5em;
}

.solid-design-parts-Icon_root {
  display: inline-block;
  vertical-align: top;
  width: var(--solid-design-parts-Icon_size);
  height: var(--solid-design-parts-Icon_size);

  background-color: var(--solid-design-parts-Icon_color);
  mask: var(--solid-design-parts-Icon_url) no-repeat center;
  mask-size: contain;

  transform-origin: center;
  transform: rotate(var(--solid-design-parts-Icon_rotate));
}
