.solid-design-parts-MultiSelect_launcher {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  text-align: start;

  box-sizing: border-box;
  width: max-content;
  min-height: var(--solid-design-parts-one-line-input-height);
  border-radius: 0.3em;
  border: 1px solid var(--solid-design-parts-input-border-color);
  padding: 0.4em 0.7em;

  background-color: var(--solid-design-parts-background-color);
  color: inherit;
  font: inherit;
  cursor: pointer;

  &:disabled {
    background-color: var(--solid-design-parts-disabled-input-background-color);
    cursor: initial;
  }

  &:focus-visible {
    border-color: var(--solid-design-parts-primary-color);
    outline: none;
  }

  .solid-design-parts-MultiSelect_full-width & {
    width: 100%;
  }

  &[aria-invalid='true'] {
    border-color: var(--solid-design-parts-error-color);
  }
}

.solid-design-parts-MultiSelect_preview {
  display: inline-grid;
  vertical-align: top;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 0.5em;
}

.solid-design-parts-MultiSelect_primary-selected-value {
  white-space: pre-wrap;
}

.solid-design-parts-MultiSelect_invisible {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.solid-design-parts-MultiSelect_placeholder {
  color: var(--solid-design-parts-placeholder-text-color);
  white-space: pre-wrap;
  user-select: none;
}

.solid-design-parts-MultiSelect_following-count {
  border-radius: 999vh;
  padding: 0.2em 0.5em;
  background-color: oklch(0% 0 0 / 7%);
  color: oklch(30% 0 0);
  font-size: 80%;
}

.solid-design-parts-MultiSelect_icon {
  transform-origin: center;
  transition: all 140ms ease-out;
  transform: rotate(0deg);

  margin-left: 0.5em;

  .solid-design-parts-MultiSelect_opened & {
    transform: rotate(-180deg);
  }
}

.solid-design-parts-MultiSelect_error-message {
  color: var(--solid-design-parts-error-color);
  margin: 0.5em 0 0;

  &:empty {
    display: none;
  }
}

.solid-design-parts-MultiSelect_overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: var(--solid-design-parts-overlay-z-index);
  outline: none;
}

.solid-design-parts-MultiSelect_dropdown {
  position: fixed;
  left: var(--solid-design-parts-MultiSelect_dropdown-left);
  top: var(--solid-design-parts-MultiSelect_dropdown-top);
  box-sizing: border-box;
  width: var(--solid-design-parts-MultiSelect_dropdown-width);
  max-height: var(--solid-design-parts-MultiSelect_dropdown-max-height);
  border-radius: 0.4em;
  background-color: var(--solid-design-parts-background-color);
  box-shadow: 0 1px 4px oklch(75% 0 0);
}

.solid-design-parts-MultiSelect_search-box-area {
  padding: 0.3em;
}

.solid-design-parts-MultiSelect_option {
  border: none;
  padding: 0.5em 0.8em;
  box-sizing: border-box;
  width: 100%;

  font: inherit;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: oklch(97% 0 0);
    }
  }

  &:active {
    background-color: oklch(94% 0 0);
  }
}
