:where(.solid-design-parts-NumberInput_body) {
  box-sizing: border-box;
  min-height: var(--solid-design-parts-one-line-input-height);
  border-radius: var(--solid-design-parts-NumberInput_radius);
  border: 1px solid var(--solid-design-parts-input-border-color);
  background-color: var(--solid-design-parts-background-color);

  .solid-design-parts-NumberInput_root[aria-disabled='true'] & {
    background-color: var(--solid-design-parts-disabled-input-background-color);
  }

  /* TODO: Use :has() instead of CSS class */
  .solid-design-parts-NumberInput_input-element-has-focus & {
    border-color: var(--solid-design-parts-primary-color);
  }

  .solid-design-parts-NumberInput_root[aria-invalid='true'] & {
    border-color: var(--solid-design-parts-error-color);
  }
}

.solid-design-parts-NumberInput_prefix,
.solid-design-parts-NumberInput_suffix {
  display: grid;
  place-items: center;
}

.solid-design-parts-NumberInput_input {
  padding: 0.4em 0.6em;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;

  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  &::placeholder {
    color: var(--solid-design-parts-placeholder-text-color);
  }
}

.solid-design-parts-NumberInput_error-message {
  margin: 0.5em 0 0;
  color: var(--solid-design-parts-error-color);
  white-space: pre-wrap;

  &:empty {
    display: none;
  }
}
