@use 'utility/utility.scss';

:root {
  --skel-RadioButtons_radio-size: 1.2em;
  --skel-RadioButtons_inner-circle-size: 0.6em;
}

.skel-RadioButtons_label {
  display: inline-grid;
  grid-template-columns: auto minmax(0, 1fr);
  align-items: center;
  gap: 0.3em;
  vertical-align: top;

  cursor: pointer;

  &[aria-disabled='true'] {
    cursor: default;

    color: oklch(70% 0 0);
  }
}

.skel-RadioButtons_radio {
  appearance: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: utility.toEvenPx(var(--skel-RadioButtons_radio-size));
  height: utility.toEvenPx(var(--skel-RadioButtons_radio-size));
  border-radius: 100%;
  margin: 0;

  border: 0.1em solid oklch(60% 0 0);
  background-color: oklch(100% 0 0);

  cursor: pointer;

  transition: all 0.1s ease-out;

  &::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-radius: 100%;

    transition: all 0.1s ease-out;
  }

  &:checked {
    border-color: var(--skel-primary-color);
    transition: all 0.1s ease-out;

    &::before {
      width: utility.toEvenPx(var(--skel-RadioButtons_inner-circle-size));
      height: utility.toEvenPx(var(--skel-RadioButtons_inner-circle-size));
      background-color: var(--skel-primary-color);

      transition: all 0.1s ease-out;
    }
  }

  &:disabled {
    cursor: default;
  }
}
