.solid-design-parts-Resizable_root {
  position: relative;
  box-sizing: border-box;
  width: max-content;
  min-width: min-content;
  max-width: 100%;
}

.solid-design-parts-Resizable_resize-handle {
  visibility: hidden;

  position: absolute;
  right: 0;
  top: 15%;
  bottom: 15%;

  box-sizing: border-box;
  width: 8px;
  border-radius: 999vh;
  background-color: oklch(70% 0 0);

  cursor: col-resize;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: var(--solid-design-parts-primary-color);
    }

    .solid-design-parts-Resizable_root:hover & {
      visibility: visible;
    }
  }
}
