.solid-design-parts-Scrollable_root {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: inherit;
}

.solid-design-parts-Scrollable_outer {
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: inherit;

  /* hide default scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.solid-design-parts-Scrollable_inner {
  // To prevent that margin protrude parent element.
  overflow: hidden;
}

.solid-design-parts-Scrollable_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;

  pointer-events: none;
}

.solid-design-parts-Scrollable_scrollbar {
  visibility: hidden;

  box-sizing: border-box;
  width: 10px;
  padding: 0 1px;

  .solid-design-parts-Scrollable_overflow & {
    visibility: visible;
  }
}

.solid-design-parts-Scrollable_thumb {
  opacity: 0;
  visibility: hidden;

  margin-top: var(--solid-design-parts-Scrollable_thumb-top);
  border-radius: 999vh;
  box-sizing: border-box;
  width: 100%;
  height: var(--solid-design-parts-Scrollable_thumb-height);
  background-color: oklch(0% 0 0 / 20%);
  pointer-events: auto;

  @media (hover: hover) {
    &:hover {
      background-color: oklch(0% 0 0 / 30%);
    }
  }

  .solid-design-parts-Scrollable_dragging & {
    background-color: oklch(0% 0 0 / 40%);
  }
}
