.mantle-ui-Select_launcher {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  text-align: start;

  box-sizing: border-box;
  width: max-content;
  min-height: var(--mantle-ui-one-line-input-height);
  border-radius: 0.3em;
  border: 1px solid var(--mantle-ui-input-border-color);
  padding: 0.4em 0.7em;

  background-color: var(--mantle-ui-background-color);
  color: inherit;
  font: inherit;
  cursor: pointer;

  &:disabled {
    background-color: var(--mantle-ui-disabled-input-background-color);
    cursor: initial;
  }

  &:focus-visible {
    border-color: var(--mantle-ui-primary-color);
    outline: none;
  }

  &.mantle-ui-Select_full-width {
    width: 100%;
  }
}

.mantle-ui-Select_preview-area {
  margin-right: 0.8em;
}

.mantle-ui-Select_invisible {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.mantle-ui-Select_placeholder {
  color: var(--mantle-ui-placeholder-text-color);
  user-select: none;
}

.mantle-ui-Select_clear-button {
  &[aria-hidden='true'] {
    visibility: hidden;
  }
}

.mantle-ui-Select_icon {
  transform-origin: center;
  transition: all 140ms ease-out;
  transform: rotate(0deg);

  .mantle-ui-Select_opened & {
    transform: rotate(-180deg);
  }
}

.mantle-ui-Select_overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: var(--mantle-ui-overlay-z-index);
  outline: none;
}

.mantle-ui-Select_dropdown {
  position: fixed;
  left: var(--mantle-ui-Select_dropdown-left);
  top: var(--mantle-ui-Select_dropdown-top);
  box-sizing: border-box;
  width: var(--mantle-ui-Select_dropdown-width);
  max-height: var(--mantle-ui-Select_dropdown-max-height);
  border-radius: 0.4em;
  background-color: var(--mantle-ui-background-color);
  box-shadow: 0 1px 4px oklch(75% 0 0);
}

.mantle-ui-Select_search-box-area {
  padding: 0.3em;
}

.mantle-ui-Select_option {
  display: flex;
  align-items: center;
  text-align: start;

  border: none;
  padding: 0 0.8em;
  box-sizing: border-box;
  width: 100%;
  height: 2.5em;
  border-radius: 0.4em;

  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;

  &:focus-visible {
    outline-offset: -2px;
    outline: 2px solid var(--mantle-ui-primary-color);
  }

  @media (hover: hover) {
    &:hover {
      background-color: oklch(97% 0 0);
    }
  }

  &:active {
    background-color: oklch(94% 0 0);
  }

  &[aria-selected='true'] {
    background-color: var(--mantle-ui-primary-selected-background-color);
    color: var(--mantle-ui-primary-color);

    @media (hover: hover) {
      &:hover {
        background-color: var(--mantle-ui-primary-selected-background-hover-color);
      }
    }

    &:active {
      background-color: var(--mantle-ui-primary-selected-background-active-color);
    }
  }
}
