:root {
  --solid-design-parts-Stepper_line-color: oklch(70% 0 0);
  --solid-design-parts-Stepper_circle-size: 2.5em;
}

.solid-design-parts-Stepper_line-layer {
  display: grid;
  align-items: center;
  height: var(--solid-design-parts-Stepper_circle-size);
}

.solid-design-parts-Stepper_line {
  height: 1px;

  background-image: linear-gradient(
    to right,
    var(--solid-design-parts-Stepper_line-color),
    var(--solid-design-parts-Stepper_line-color) 6px,
    transparent 6px,
    transparent 12px
  );
  background-size: 12px 1px;
  background-repeat: repeat-x;

  &.solid-design-parts-Stepper_reached {
    background: var(--solid-design-parts-primary-color);
    height: 3px;
  }
}

.solid-design-parts-Stepper_circle-layer {
  display: grid;
}

.solid-design-parts-Stepper_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--solid-design-parts-Stepper_circle-size);
  height: var(--solid-design-parts-Stepper_circle-size);
  border-radius: 999vh;

  font-size: 1.2em;
  font-weight: bold;

  &.solid-design-parts-Stepper_reached {
    &:not([aria-current='step']) {
      border: 0.15em solid var(--solid-design-parts-primary-color);
      background-color: var(--solid-design-parts-background-color);
      color: var(--solid-design-parts-primary-color);
    }

    &[aria-current='step'] {
      background-color: var(--solid-design-parts-primary-color);
      color: var(--solid-design-parts-inverted-text-color);
    }
  }

  &:not(.solid-design-parts-Stepper_reached) {
    border: 0.15em solid oklch(80% 0 0);
    background-color: var(--solid-design-parts-background-color);
    color: oklch(80% 0 0);
  }
}

.solid-design-parts-Stepper_titles-area {
  display: grid;
  margin-top: 0.5em;
}

.solid-design-parts-Stepper_title {
  display: flex;
  justify-content: center;

  color: oklch(70% 0 0);
  font-weight: bold;
  white-space: pre-wrap;

  &.solid-design-parts-Stepper_reached {
    color: oklch(60% 0 0);
  }

  &[aria-current='step'] {
    color: var(--solid-design-parts-primary-color);
  }
}
