.skel-TextInput_body {
  box-sizing: border-box;
  min-height: var(--skel-one-line-input-height);
  border-radius: var(--skel-TextInput_radius);
  border: 1px solid var(--skel-input-border-color);
  background-color: var(--skel-background-color);

  .skel-TextInput_root[aria-disabled='true'] & {
    background-color: var(--skel-disabled-input-background-color);
  }

  :where(.skel-TextInput_root[aria-invalid='true']) & {
    border-color: var(--skel-error-color);
  }

  /* TODO: Use :has() instead of CSS class */
  .skel-TextInput_input-element-has-focus & {
    border-color: var(--skel-primary-color);
  }
}

.skel-TextInput_prepend {
  padding-left: 0.3em;

  &:empty {
    padding: 0;
  }
}

.skel-TextInput_append {
  padding-right: 0.3em;

  &:empty {
    padding: 0;
  }
}

.skel-TextInput_input {
  padding: 0.4em 0.6em;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;

  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  &::placeholder {
    color: var(--skel-placeholder-text-color);
  }
}

.skel-TextInput_error-message {
  color: var(--skel-error-color);
  margin: 1em 0 0;

  &:empty {
    display: none;
  }
}
