:where(.mantle-ui-TextInput_body) {
  box-sizing: border-box;
  min-height: var(--mantle-ui-one-line-input-height);
  border-radius: var(--mantle-ui-TextInput_radius);
  border: 1px solid var(--mantle-ui-input-border-color);
  background-color: var(--mantle-ui-background-color);

  .mantle-ui-TextInput_root[aria-disabled='true'] & {
    background-color: var(--mantle-ui-disabled-input-background-color);
  }

  /* TODO: Use :has() instead of CSS class */
  .mantle-ui-TextInput_input-element-has-focus & {
    border-color: var(--mantle-ui-primary-color);
  }

  .mantle-ui-TextInput_root[aria-invalid='true'] & {
    border-color: var(--mantle-ui-error-color);
  }
}

.mantle-ui-TextInput_prepend {
  padding-left: 0.3em;

  &:empty {
    padding: 0;
  }
}

.mantle-ui-TextInput_append {
  padding-right: 0.3em;

  &:empty {
    padding: 0;
  }
}

.mantle-ui-TextInput_input {
  padding: 0.4em 0.6em;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;

  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  &::placeholder {
    color: var(--mantle-ui-placeholder-text-color);
  }
}

.mantle-ui-TextInput_error-message {
  color: var(--mantle-ui-error-color);
  margin: 0.5em 0 0;

  &:empty {
    display: none;
  }
}
