.skel-TextInput_root {
  border-radius: var(--skel-input-border-radius);
  border: var(--skel-input-border-color) 1px solid;
  background-color: var(--skel-background-color);

  box-sizing: border-box;
  width: 100%;
  height: var(--skel-one-input-height);

  &.skel-TextInput_disabled {
    background-color: var(--skel-disabled-input-background-color);
  }

  &:focus-within {
    border-color: var(--skel-primary-color);
  }
}

.skel-TextInput_prefix,
.skel-TextInput_postfix {
  padding: 0 0.5em;
  background-color: oklch(96% 0 0);

  &:empty {
    padding: 0;
    border: none;
  }
}

.skel-TextInput_prefix {
  border-right: var(--skel-input-border-color) 1px solid;
  border-top-left-radius: var(--skel-input-border-radius);
  border-bottom-left-radius: var(--skel-input-border-radius);
}

.skel-TextInput_postfix {
  border-left: var(--skel-input-border-color) 1px solid;
  border-top-right-radius: var(--skel-input-border-radius);
  border-bottom-right-radius: var(--skel-input-border-radius);
}

.skel-TextInput_prepend {
  padding-left: 0.3em;

  &:empty {
    padding: 0;
  }
}

.skel-TextInput_append {
  padding-right: 0.3em;

  &:empty {
    padding: 0;
  }
}

.skel-TextInput_input {
  padding: 0.4em 0.6em;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;

  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  &::placeholder {
    color: var(--skel-placeholder-text-color);
  }
}
