.mantle-ui-TitleBarLayout_root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mantle-ui-TitleBarLayout_title {
  font-size: larger;
}

.mantle-ui-TitleBarLayout_left,
.mantle-ui-TitleBarLayout_right {
  display: flex;
  align-items: center;
}

.mantle-ui-TitleBarLayout_invisible {
  visibility: hidden;
  height: 0;

  display: flex;
  align-items: center;
}

.mantle-ui-TitleBarLayout_right-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
