.solid-design-parts-Toasts_root {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: var(--solid-design-parts-overlay-z-index);

  margin: 2em;

  display: grid;
  grid-template-columns: auto;
  justify-items: end;
  gap: 1em;

  pointer-events: none;
}
