:root {
  --mantle-ui-ToggleButtons_border-radius: 0.4em;
  --mantle-ui-ToggleButtons_border: 1px solid var(--mantle-ui-ToggleButtons_border-color);
  --mantle-ui-ToggleButtons_border-color: oklch(75% 0 0);
  --mantle-ui-ToggleButtons_text-color: oklch(50% 0 0);
  --mantle-ui-ToggleButtons_selected-border-color: oklch(70% 0.08 255.4);
  --mantle-ui-ToggleButtons_selected-text-color: oklch(50% 0.22 255.4);
  --mantle-ui-ToggleButtons_selected-background-color: var(--mantle-ui-primary-selected-background-color);
  --mantle-ui-ToggleButtons_selected-font-weight: inherit;
}

.mantle-ui-ToggleButtons_root {
  display: grid;
  grid-auto-flow: column;
  width: max-content;

  &.mantle-ui-ToggleButtons_full-width {
    width: initial;
  }
}

.mantle-ui-ToggleButtons_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.3em 0.5em;
  border: var(--mantle-ui-ToggleButtons_border);
  border-right: none;

  background: transparent;
  color: var(--mantle-ui-ToggleButtons_text-color);
  font: inherit;
  white-space: pre-wrap;

  cursor: pointer;

  transition: all 140ms ease-out;

  &:first-of-type {
    border-top-left-radius: var(--mantle-ui-ToggleButtons_border-radius);
    border-bottom-left-radius: var(--mantle-ui-ToggleButtons_border-radius);
  }

  &:last-of-type {
    border-top-right-radius: var(--mantle-ui-ToggleButtons_border-radius);
    border-bottom-right-radius: var(--mantle-ui-ToggleButtons_border-radius);

    border-right: var(--mantle-ui-ToggleButtons_border);
  }

  @media (hover: hover) {
    &:hover {
      background-color: oklch(97% 0 0);
      transition: all 140ms ease-out;
    }
  }

  &:active {
    background-color: oklch(94% 0 0);
    transition: all 140ms ease-out;
  }

  &[aria-selected='true'] {
    border-color: var(--mantle-ui-ToggleButtons_selected-border-color);

    & + .mantle-ui-ToggleButtons_button {
      border-left-color: var(--mantle-ui-ToggleButtons_selected-border-color);
    }

    background-color: var(--mantle-ui-primary-selected-background-color);
    color: var(--mantle-ui-ToggleButtons_selected-text-color);
    font-weight: var(--mantle-ui-ToggleButtons_selected-font-weight);

    @media (hover: hover) {
      &:hover {
        background-color: var(--mantle-ui-primary-selected-background-hover-color);
      }
    }

    &:active {
      background-color: var(--mantle-ui-primary-selected-background-active-color);
    }
  }

  &:focus-visible {
    outline-offset: -2px;
    outline: 2px solid var(--mantle-ui-primary-color);
  }
}
